!!!XHTML
%html
  %head
    %meta{:name => :viewport, :content => "width=640,target-densitydpi=128,user-scalable=no"}
    %title RocketIO Canvas
    :css
      body, div{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
      }
      #toolbar{
        margin : 5px;
      }
      .ctrl{
        margin-right : 15px;
      }
      canvas#img{
        border : solid 1px #333;
      }
    :javascript
      var channel = "#{@channel}";
  %body
    %div#header
      %h1 RocketIO Canvas
    %div#main
      %div#toolbar
        %div#clients
        %div
          %span#stroke.ctrl
            color :
            %select{:id => 'color'}
              %option{:value => '#000000'} black
              %option{:value => '#999999'} gray
              %option{:value => '#FF0000'} red
              %option{:value => '#00FF00'} green
              %option{:value => '#0000FF'} blue
              %option{:value => '#FFFFFF'} white
            size :
            %select{:id => 'size'}
              - for i in 1..10 do
                %option{:value => i}= i
          %span.ctrl
            %input{:id => 'btn_clear', :type => 'button', :value => 'CLEAR'}
      %canvas#img
    %hr
    %div
      - url = "https://github.com/shokai/rocketio-canvas"
      %a{:href => url}= url
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => rocketio_js}
    %script{:src => "/canvas.js"}
    %script{:src => "/index.js"}
