!!!XHTML
%html
  %head
    %title RocketIO Canvas
  %body
    %header
      %h1 RocketIO Canvas
    %main
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => rocketio_js}
    %script{:src => "#{app_root}/index.js"}
